<%= stylesheet_link_tag 'login.css' %>
<div class="container">
  <div class="wrapper">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <i class="fas fa-user"></i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="pass"><a href="<%= new_admin_user_session_path %>">Forgot password?</a></div>
      <div class="row button">
        <%= f.submit "Login" %>
      </div>
      <div class="signup-link">Not a member? <a href="<%= new_registration_path(resource_name) %>">Signup now</a></div>
      <div class="signup-link">Are you Admin? <a href="<%= new_admin_user_session_path %>">Login as Admin</a></div>
    <% end %>
  </div>
</div>
