<div class="container">
  <div class="text-center mt-4">
    <h2 class="mb-3">All Products</h2>
  </div>
  
  <div class="row mt-4">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <%= link_to product, class: "card text-decoration-none text-dark shadow-sm" do %>
          <div class="card-body">
            <% if product.image.present? %>
              <%= image_tag product&.image&.thumb&.url, class: "card-img-top img-fluid rounded"  %>
            <% else %>
              <%= image_tag("turbo_tech_parts.png", class: "card-img-top img-fluid rounded")  %>
            <% end %>
            <h5 class="card-title mt-3"><%= product.name %></h5>
            <p class="card-text text-danger">Price: <%= product.price %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <%= paginate @products, theme: 'bootstrap-5' %>
</div>